# Node.js
node_modules/

# Next.js
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Ambiente
.env*

# Editor
.vscode/
.idea/

# Outros
*.local 
docs/*.md 